#streamlit
#onnxruntime
#onnx
#numpy
#Pillow
#opencv-python-headless
#requests
#pymongo
#dnspython
#ultralytics

streamlit>=1.26.0,<2.0
ultralytics
onnx
onnxruntime
opencv-python-headless
Pillow
numpy
pymongo
gridfs
requests


